body {
  background: repeat url(../images/tweed.png);
  padding-bottom: 30px;
}
#alignments,
input[type="text"] {
  font-family: Courier;
}

#sequence_form,
#results > div {
  background: repeat url(../images/crossword.png);
  box-shadow: 0 10px 20px #222;
  border-radius: 4px;
  margin: 10px 10px 30px;
  padding: 40px;
}

#footer {
  position: static;
  left: 0;
  right: 0;
  bottom: 10px;
}
